.container {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  padding: 1rem 0;
}

.playerActive {
  padding-bottom: 4.25rem;
}

.audioPlayerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  height: 3.75rem;
  width: 100%;
  bottom: 0;
  background-color: var(--secondary-bg-color);
  padding-right: 1rem;
}

.coverThumbnail {
  height: 100%;
}

.thumbnailArtistContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 3.62rem;
  gap: 0.5rem;
  font-size: 0.75rem;
}

.artistName {
  color: var(--disabled-text-color);
}

.progressBar {
  position: absolute;
  bottom: 0;
  height: 0.25rem;
  width: 100%;
  background-color: white;
}

.controlsContainer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}
