.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0.5rem;
}

.headerText {
  font-size: var(--header-font-size);
}

.viewAllContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.sectionNameLogoContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
}
