:root {
  --primary-color: #3e2899;

  --primary-bg-color: #0c0d14;
  --secondary-bg-color: #171920;
  --tertiary-bg-color: #212233;

  --primary-text-color: #eff0f7;
  --disabled-text-color: #aaadbe;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
