.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  font-size: var(--sub-font-size);
  width: 12.125rem;
  gap: 0.5rem;
}

.thumbnail {
  width: 4.25rem;
  height: 4.25rem;
  border-radius: 8px;
  object-fit: cover;
}

.authorText {
  color: var(--disabled-text-color);
}

.textContainer {
  font-size: 0.85rem;
}
